<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
	<customErrors mode="Off" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.html" />
                <add value="waiterLogin.html" />
                <add value="cookLogin.html" />
                <add value="index.aspx" />

            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>  
		       <add name="Access-Control-Allow-Origin" value="*" />  
		       <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />  
		       <add name="Access-Control-Allow-Headers" value="content-type" />  
		     </customHeaders> 
        </httpProtocol>
    </system.webServer>
</configuration>
